*, 
html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar-container {
    background-color: #f282b6;
    width: 100%;
    height: 12vh;
}

.ul-navbar {
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.li-navbar {
list-style-type: none;
padding: 20px;
color: aliceblue;
margin: 5px;
font-size: 25px;
}

.li-navbar:hover {
    background-color: rgb(191, 65, 134);
    border-radius: 8px;
    transition: .5s ease-in-out;
    transition-delay: .3s;
}

.a-navbar {
color:#fff;
text-decoration: none;
font-weight: 800;
}

.content1-container {
    background-color:#ffe4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh ;
}

.a-content {
    background-color: rgb(200, 172, 185);
    color: black;
    text-decoration: none;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 12px 0px rgba(0,0,0,0.75);
}

.img-content {
    width: 50%;
    height: 50%;
}

.container-footer {
    background-color:beige;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.h1-footer {
    font-size: 40px;
}